body {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

a {
  color: black;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

.news {
  display: flex;
  justify-content: space-between;
}

.news .text {
  height: 250px;
}

.title {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  height: 80px;
  width: 100%;
  z-index: 1;
}

.navigation {
  display: inline-block;
}

.logo {
  color: MediumAquamarine;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.main {
   display: flex;
   width: 1232px;
   margin: 0 auto 78px auto;
   padding-top: 116px;
 }

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

 .column.col-large {
   width: 630px;
 }

 .tuna-story .img-text {
   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
   width: 630px;
   font-size: 40px;
 }

 .fall.img-text {
   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
 }

 .camera.img-text {
   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
 }

 .column.col-med {
   width: 300px;
 }

 .kitty.img-text {
   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
 }

 .column.col-small {
   width: 240px;
 }

 img.cookie {
   height: 240px;
 }
